{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },
        "project": [
            "child-apps/*/tsconfig.json",
            "tsconfig.json"
        ]
    },
    "extends": [
        "@tinkoff/eslint-config/app",
        "@tinkoff/eslint-config-react",
        "@tinkoff/eslint-config/jest",
        "plugin:@tinkoff/tramvai/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        // Раскоментируй проверку css
        //"plugin:css-modules/recommended",
        "plugin:jest/recommended"
    ],
    "plugins": [
        "@typescript-eslint",
        "react",
        "react-hooks",
        // Раскоментируй проверку css
        //"css-modules",
        "jest",
        "playwright",
        "complexity"
    ],
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "typescript": {
                "project": "child-apps/*/tsconfig.json"
            }
        }
    },
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "warn",
        // расскоментируй провероку compexety
        // "complexity": ["error", 10],
        "@typescript-eslint/no-implied-eval": "error",
        "css-modules/no-unused-class": "off",
        "react/jsx-no-target-blank": "off"
    },
    "overrides": [
        {
            "files": ["**/*.e2e.ts", "**/*.e2e.tsx", "**/e2e/**/*"],
            "extends": ["plugin:playwright/recommended"]
        }
    ]
}
